<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <aspNetCore forwardWindowsAuthToken="true" processPath="%localappdata%\microsoft\dotnet\dotnet.exe .\HelloWorldMvc.dll" stdoutLogEnabled="true" stdoutLogFile="..\logs\stdout.log" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
  </system.webServer>
</configuration>